---
title: Portfolio
---

- content_for :javascripts do
  = javascript_include_tag  "galleria.portfolio"

.galleria
  = @gallery.each do |img|
    %a{href:"images/gallery/#{img}"}
      = image_tag "gallery/#{img}", resize_to: '250x', class: 'thumbnail'
